# Ignore changes to these files for git-crypt
**/.gitattributes !filter !diff
**/.gitignore !filter !diff

# Encrypt all YAML secret files in ansible/hosts
ansible/hosts/**/**_secrets.yml filter=git-crypt diff=git-crypt
