---
version: '3.8'
services:
  hello-world:
    image: docker.io/karstenjakobsen/shiplite-hello-world:latest
    container_name: hello-world
    ports:
      - "80:8080"
    environment:
      - TZ=Europe/Copenhagen
      - APP_ENV=production
      - DEBUG=true
      - LOG_LEVEL=info
    restart: unless-stopped
